.Updatenew-body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Giúp căn giữa theo chiều dọc */
    background: #f4f4f4;
}

.Updatenew-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Giữ form trong một khung vừa phải */
}

.Updatenew-h3 {
    text-align: center;
    padding-bottom: 20px;
}

.Updatenew-form {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.Updatenew-label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.Updatenew-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Updatenew-button {
    background: #1890ff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-top: 10px;
    width: 100%;
}

.Updatenew-button:hover {
    background: #0056b3;
}