/* Chỉ áp dụng kiểu cho các phần tử trong trang NotFoundPage */
.not-found-page .absolute-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Lớp phủ đen với độ trong suốt */
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa theo chiều dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
  overflow: auto;
  padding: 0 20px;
  height: 100%;
}

/* Hiệu ứng sóng */
.not-found-page .wave-text span {
  display: inline-block;
  animation: wave 1.5s ease-in-out infinite;
  font-size: 6rem; /* Tăng kích thước chữ 404 */
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #800080,
    #dda0dd
  ); /* Gradient từ tím đậm sang tím nhạt */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Đảm bảo chữ sử dụng gradient */
}

.not-found-page .wave-text span:nth-child(odd) {
  animation-delay: 0.5s;
}

.not-found-page .wave-container {
  display: inline-block;
}

/* Hiệu ứng sóng */
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Button với gradient luôn hiện */
.not-found-page .ant-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background: linear-gradient(
    45deg,
    #800080,
    #dda0dd
  ); /* Gradient cho button */
  border-radius: 8px;
  text-decoration: none;
  margin-top: 16px;
  transition: background 0.3s ease-in-out;
  max-width: 100%; /* Đảm bảo button không vượt quá kích thước container */
  width: auto;
}

.not-found-page .ant-btn:hover {
  background: linear-gradient(
    45deg,
    #dda0dd,
    #800080
  ); /* Giữ nguyên gradient khi hover */
}
