.addnew-boddy {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.addnew-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.addnew-h3 {
    text-align: center;
    padding-bottom: 20px;
}

.addnew-form {
    display: flex;
    flex-direction: column;
}

.addnew-label {
    margin-top: 10px;
    font-weight: bold;
}

.addnew-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addnew-button {
    background: #1890ff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.addnew-button:hover {
    background: #0056b3;
}

.addnew-buttons {
    display: flex;
    justify-content: space-between;
}